<!DOCTYPE html>

<html>
  <head>
    <title>Protein Names</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
    {{download_csv}}
    {{download_json}}
  </head>

  <body>
    {{#if protein_names}}
    <table class='table'>
      <tbody>
        <tr>
          <th class='span4'>Protein names</th>
          <td class='span8'>
            <table class='table'>
              <tbody>
                {{#if protein_names.recommended_name}}
                  <tr><th class='span4'>Recommended Name</th><td class='span4'>{{protein_names.recommended_name}}</td></tr>
                {{/if}}

                {{#if protein_names.ec_name}}
                  <tr><th class='span4'>EC number</th><td class='span4'>{{protein_names.ec_name}}</td></tr>
                {{/if}}

                {{#if protein_names.alternative_names}}
                  <tr>
                    <th class='span4'>Alternative Name(s)</th>
                    <td class='span4'>
                      <ul>
                        {{#each protein_names.alternative_names}}
                          <li>{{this}}</li>
                        {{/each}}
                      </ul>
                    </td>
                  </tr>
                {{/if}}
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <th class='span4'>Gene names</th>
          <td class='span8'>
            <table class='table'>
              <tbody>
                {{#if protein_names.gene_name}}
	        <tr>
                  <th class='span4'>Name</th>
	          <td class='span4'><ul>{{#each protein_names.gene_name}}<li>{{this}}</li>{{/each}}</ul></td>
	        </tr>
                {{/if}}
                {{#if protein_names.synonyms_name}}
                <tr>
                  <th class='span4'>Synonyms</th>
                  <td class='span4'><ul>{{#each protein_names.synonyms_name}}<li>{{this}}</li>{{/each}}</ul></td>
                </tr>
                {{/if}}
                {{#if protein_names.locus_name}}
                <tr>
                  <th class='span4'>Ordered Locus Names</th>
                  <td class='span4'><ul>{{#each protein_names.locus_name}}<li>{{this}}</li>{{/each}}</ul></td>
                </tr>
                {{/if}}
                {{#if protein_names.orf_name}}
                <tr>
                  <th class='span4'>ORF Names</th>
                  <td class='span4'><ul>{{#each protein_names.orf_name}}<li>{{this}}</li>{{/each}}</ul></td>
                </tr>
                {{/if}}
              </tbody>
            </table>
          </td>
        </tr>
        {{#if protein_names.organism_name}}
          <tr><th>Organism</th><td>{{protein_names.organism_name}}</td></tr>
        {{/if}}

        {{#if protein_names.taxonomy_id}}
          <tr><th>Taxonomic identifier</th><td>{{protein_names.taxonomy_id}}</td></tr>
        {{/if}}

        {{#if protein_names.parent_taxonomy_names}}
          <tr>
            <th>Taxonomic lineage</th>
            <td>
              <ul>
                {{#each protein_names.parent_taxonomy_names}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
    {{else}}
      <div>
        No data
      </div>
    {{/if}}
  </body>
</html>

