<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    <h1>{{title}}</h1>

    <table class='table table-bordered'>
      <tbody>
        <tr><th>Recommended Name</th><td>{{summary.recommended_name}}</td></tr>
        <tr><th>EC Name</th><td>{{summary.ec_name}}</td></tr>
        <tr>
          <th>Alternative Names</th>
          <td>
            <ul>
              {{#each summary.alternative_names}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </td>
        </tr>
        <tr>
          <th>Genes</th>
          <td>
            {{#each genes}}
            <table class='table table-bordered'>
              <tbody>
                <tr><th>Gene Names</th><td>{{gene_name}}</td></tr>
                <tr><th>Synonyms Name</th><td>{{synonyms_name}}</td></tr>
                <tr><th>Locus Name</th><td>{{locus_name}}</td></tr>
              </tbody>
            </table>
            {{/each}}
          </td>
        </tr>
        <tr><th>Organism Name</th><td>{{summary.organism_name}}</td></tr>
        <tr><th>Taxonomic Identifier</th><td>{{summary.taxonomic_id}}</td></tr>
        <tr>
          <th>Taxonomic Lineage</th>
          <td>
            <ul>
              {{#each summary.parent_taxonomy_names}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>

