<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    <h1>{{title}}</h1>

    <dl class="dl-horizontal">
      <dt>Recommended Name</dt>
      <dd>{{summary.recommended_name}}</dd>

      <dt>EC Name</dt>
      <dd>{{summary.ec_name}}</dd>

      <dt>Alternative Names</dt>
      <dd>
        <ul>
          {{#each summary.alternative_names}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </dd>

      <dt>Genes</dt>
      <dd>
        {{#each genes}}
          <dl>
            <dt>Gene Names</dt>
            <dd>{{gene_name}}</dd>

            <dt>Synonyms Name</dt>
            <dd>{{synonyms_name}}</dd>

            <dt>Locus Name</dt>
            <dd>{{locus_name}}</dd>
          </dl>
        {{/each}}
      </dd>

      <dt>Organism Name</dt>
      <dd>{{summary.organism_name}}</dd>

      <dt>Taxonomic Identifier</dt>
      <dd>{{summary.taxonomic_identifier}}</dd>

      <dt>Taxonomic Iineage</dt>
      <dd>
        <ul>
          {{#each summary.parent_taxonomy_names}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </dd>
    </dl>
  </body>
</html>

