<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    <h1>{{title}}</h1>

    <table class='table table-bordered'>
      <tbody>
        <tr><th>Function</th><td>{{function.comment}}</td></tr>
        <tr><th>Catalytic activity</th><td>{{catalytic_activity.comment}}</td></tr>
        <tr><th>Cofactor</th><td>{{cofactor.comment}}</td></tr>
        <tr><th>Subunit structure</th><td>{{subunit_structure.comment}}</td></tr>
        <tr>
          <th>Subcellular location</th>
          <td>
            <ul>
              {{#each subcellular_location}}
              <li>{{alias}}</li>
              {{/each}}
            </ul>
          </td>
        </tr>
        <tr>
          <th>Miscellaneous</th>
          <td>
            <ul>
              {{#each miscellaneous}}
              <li>{{comment}}</li>
              {{/each}}
            </ul>
          </td>
        </tr>
        <tr><th>Sequence similarities</th><td>{{sequence_similarities.comment}}</td></tr>
      </tbody>
    </table>
  </body>
</html>
