<!DOCTYPE html>

<html>
  <head>
    <title>Protain Names And Origin</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    {{#with summary}}
      <dl class="dl-horizontal">
        <dt>Recommended Name</dt>
        <dd>{{recommended_name}}</dd>
        <dt>EC Name</dt>
        <dd>{{ec_name}}</dd>
        <dt>Alternative Names</dt>
        <dd>{{alternative_names}}</dd>
        <dt>Gene Names</dt>
        <dd>{{gene_names}}</dd>
        <dt>Synonyms Name</dt>
        <dd>{{synonyms_name}}</dd>
        <dt>Locus Name</dt>
        <dd>{{locus_name}}</dd>
        <dt>Organism Name</dt>
        <dd>{{organism_name}}</dd>
        <dt>Taxonomic Identifier</dt>
        <dd>{{taxonomic_identifier}}</dd>
        <dt>Taxonomic Iineage</dt>
        <dd>{{parent_taxonomy_name}}</dd>
      </dl>
    {{/with}}
  </body>
</html>

