<!DOCTYPE html>

<html>
  <head>
    <title>Lineage Information</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <style>
      #id_{{param_tax_id}} {
        background-color: #fffacd
      }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    <div>
    {{#if tax_lineage_list}}
      <table class='table'>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Lineage</th>
            <th>Taxonomy ID</th>
          </tr>
        </thead>
        <tbody>
          {{#each tax_lineage_list}}
            <tr id='id_{{tax_no}}' {{#if selected_tax}}class='selected'{{/if}}>
              <td>{{rank}}</td>
              <td><a href='{{tax_app_link}}' target='_top'>{{tax_label}}</a></td>
              <td><a href='{{tax_link}}' target='_blank'>{{tax_no}}</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
    </div>
  </body>
</html>

