<!DOCTYPE html>

<html>
  <head>
    <title>Environment Gold Samples</title>
    <link rel="stylesheet" href="{{css_uri}}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    {{#if gold_sample_list}}
      <table class='table'>
        <thead>
          <tr>
            <th>GOLD ID</th>
            <th>Organism name</th>
            <th>Environmental link</th>
          </tr>
        </thead>
        <tbody>
          {{#each gold_sample_list}}
            <tr>
              <td><a href="{{gold}}" target="_blank">{{gold_no}}</a></td>
              <td><a href="http://togogenome.org/organism/{{tax_id}}" target="_top">{{organism_name}}</a></td>
              <td>
                {{#each env_link_array}}
                  <a href="http://togogenome.org/environment/{{meo_id}}" target="_top">{{meo_label}}</a>{{#unless is_last_data}},&nbsp;{{/unless}}
                {{/each}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div>
        No data
      <div>
    {{/if}}
  </body>
</html>
