<!DOCTYPE html>

<html>
  <head>
    <title>Organism Genome Jbrowse</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    <script type="text/javascript">

    var frame_height = 600;
    function init(tax_id) {
      if(tax_id) {
        adjust_iframe_height(frame_height);
        $("#jbrowse").css("height", (frame_height - 30) + "px");
        $("#jbrowse").css("border-radius", "4px");
        $("#jbrowse").css("box-shadow", "0 2px 2px rgba(0,0,0,0.2)");
        $("#jbrowse-frame").css("height", (frame_height - 30) + "px");
      } else {
        $("#jbrowse").text("No data");
        adjust_iframe_height();
      }
    }

    function adjust_iframe_height(height_px) {
      var height = 0;
      if(height_px) {
        height = height_px;
      } else {
        height = document.body.offsetHeight + 30;
      }
      parent.postMessage(JSON.stringify({height: height, id: name}), "*");
    }
    </script>
  </head>

  <body onload="init({{sequence_version.tax_id}})">
    <div id="jbrowse">
      <iframe src="http://togogenome.org/jbrowse/?data={{sequence_version.tax_id}}&tracks=cds%2Ctrna%2Crrna&highlight=&loc={{sequence_version.ref}}%3A{{sequence_version.display_start_pos}}..{{sequence_version.display_end_pos}}" frameborder="0" style="width: 100%;" id="jbrowse-frame"></iframe>
    </div>
  </body>
</html>
