<!DOCTYPE html>

<html>
  <head>
    <title>Protein References</title>
    <link rel="stylesheet" href="{{css_uri}}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    <h1>{{title}}</h1>

    {{#if references}}
      <table class='table table-bordered'>
        <tbody>
          {{#each references}}
            <tr>
              <td>
                <dl>
                  <dt>{{title}}</dt>
                  <dd>{{authors}}</dd>
                  <dd>{{name}} {{volume}} {{pages}} ({{date}}) {{same}}</dd>
                </dl>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </body>
</html>

