<!DOCTYPE html>

<html>
  <head>
    <title>Refgs Dev2</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    <table class='table'>
      <tbody>
        <tr>
          <th>SRA experiment id</th>
          <th>RefSeq id</th>
          <th>score</th>
        </tr>
        {{#each features}}
          <tr>
            <td>{{srx_id}}</td>
            <td>{{refseq_id}}</td>
            <td class="numeric nowrap">{{score}}</td>
          </tr>
         {{/each}}
      </tbody>
    </table>
  </body>
</html>
