<html>
  <head>
    <title>Genome Project</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/> 
    {{#each css_uri}}

    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
      function adjustIframeHeight() {
        height = document.body.offsetHeight + 43;
        parent.postMessage(JSON.stringify({height: height, id: name}), "*");
      }
    </script>
    <!--
    {{adjust_iframe_height_script}}
    -->
  </head>
  <body>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Genome Project: {{ select_project_id }}</h1>
  </div>
  <div class="panel-body">
   {{ select_organism_name }}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Summary</h2>
  </div>
  <div class="panel-body">
    <table id="project" class="table"></table>
  </div>
</div>  

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Sequences</h2>
  </div>
  <div class="panel-body">
    <table id="sequences" class="table"></table>
  </div>
</div>  

<script>
/// Project Metadata
var project = $.getJSON(
    "./genome_project/resources/project_metadata?project_id={{select_project_id}}",
    function(json){
        $('#project').DataTable( {
            data: json.project_metadata,
            paging: false,
            //footer: true,
            //sDom : "<'header_area'<'#header_left'l>f>t<'footer_area'i>",
            //sDom : "<i><f>t<l>",
            "order": [[ 0, "asc" ]],
            //stateSave: true,
            //"lengthMenu": [[100, 200, 300, -1], [100, 200, 300, "All"]],
            //select: true,
            searching: false,
            ordering: false,
            info: false,
            columns: [
                { data: 'k', 'title': 'Property' },
                { data: 'v', 'title': 'Value' }
                ]
        } );

        adjustIframeHeight();
    }); 

///////////// sequences    
var sequences = $.getJSON(
    "./genome_project/resources/sequences?project_id={{select_project_id}}",
    function(json){
        $('#sequences').DataTable( {
            data: json.sequences,
            paging: false,
            footer: true,
            //sDom : "<'header_area'<'#header_left'l>f>t<'footer_area'i>",
            sDom : "<i><f>t<l>",
            "order": [[ 0, "asc" ]],
            //stateSave: true,
            "lengthMenu": [[100, 200, 300, -1], [100, 200, 300, "All"]],
            //select: true,
            columns: [
                { data: 'assigned_molecule_location_type', 'title': 'Sequence type' },
                { data: 'genbank_accession', 'title': 'Sequence data source',  "render": function ( data, type, full, meta ) {
                      return '<a target="_parent" href="'+ full.genbank + '">'+ data + '</a>';
                      }
                      }
                ],
            initComplete: function () {
                //alert( this + 'DataTables has finished its initialisation.' );
                this.api().columns().every( function () {
                    var column = this;
                    //console.log(column);
                    var select = $('<br /><select><option value=""></option></select>')
                        .appendTo( $(column.header()) )
                        //.appendTo( $(column.header()).empty() )
                        //.appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                             var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );
 
                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        } );

        $('#sequences tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );
 
        $('#button').click( function () {
            alert( table.rows('.selected').data().length +' row(s) selected' );
        } );

        adjustIframeHeight();
    }); 
    </script>
  </body>
</html>
