<!DOCTYPE html>

<html>
  <head>
    <title>Protein Entry Information</title>
    <link rel="stylesheet" href="{{css_uri}}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    {{#if information}}
      <table class='table table-bordered'>
        <tbody>
          <tr>
            <th>Entry Name</th>
            <td>{{information.entry_name}}</td>
          </tr>
          <tr>
            <th>Accession</th>
            <td>Primary (citable) accession number: {{information.protein}}</td>
          </tr>
          <tr>
            <th>Entry history</th>
            <td>
              <ul>
                <li>Integrated into UniProtKB/Swiss-Prot: {{information.created}}</li>
                <li>Last sequence update: {{information.sequence_modified}}</li>
                <li>Last modified: {{information.modified}}</li>
                <li>This is version {{information.version}} of the entry and version {{information.sequence_version}} of the sequence.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Entry Status</th>
            <td>{{information.status}}</td>
          </tr>
        </tbody>
      </table>
    {{/if}}
  </body>
</html>
