!!!
%html
  %head
    %title Sample Page
    / こんな感じでJavaScriptを読み込んで頂き
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'
    = javascript_include_tag 'stanza'
  %body
    / スタンザを表示したい箇所に以下の様なDIVを埋めてみて下さい
    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/protein_names_and_origin' data-stanza-tax-id='1111708' data-stanza-gene-id='slr1311')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/protein_attributes' data-stanza-tax-id='1111708' data-stanza-gene-id='slr1311')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/protein_general_annotation' data-stanza-tax-id='1111708' data-stanza-gene-id='slr1311')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/protein_ontologies' data-stanza-tax-id='1111708' data-stanza-gene-id='slr1311')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/protein_sequence_annotation' data-stanza-tax-id='1111708' data-stanza-gene-id='slr1311')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/protein_sequences' data-stanza-tax-id='1111708' data-stanza-gene-id='slr1311')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/protein_references' data-stanza-tax-id='1111708' data-stanza-gene-id='slr1311')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/protein_cross_references' data-stanza-tax-id='1111708' data-stanza-gene-id='slr1311')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/protein_entry_information' data-stanza-tax-id='1111708' data-stanza-gene-id='slr1311')

    %hr

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/transcript_attributes' data-stanza-gene-id='slr0613')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/general_summary' data-stanza-gene-id='slr0612' data-stanza-width='600px')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/general_summary' data-stanza-gene-id='sll1615' data-stanza-height='100px' data-stanza-width='250px')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/general_summary' data-stanza-gene-id='sll1098')

    %div(data-stanza='#{ENV['SERVER_URL']}/stanza/gene_attributes' data-stanza-gene-id='slr1311' data-stanza-tax-id='1148')
