<!DOCTYPE html>

<html>
  <head>
    <title>Environment Inhabitants</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
    {{download_csv}}
    {{download_json}}
  </head>

  <body>
    {{#if inhabitants_statistics}}
      <table class='table'>
        <thead>
          <tr>
            <th>Original source</th>
            <th>Organism name</th>
            <th>Taxonomy ID</th>
            <th>Isolation</th>
            <th>Environments</th>
          </tr>
        </thead>
        <tbody>
          {{#each inhabitants_statistics}}
            <tr>
              <td class='span2'><a href="{{source_link}}" target="_blank">{{source_id}}</a></td>
              <td class='span3'>{{organism_name}}</td>
              <td class='span2'>
                {{#if tax_no_array}}
                  {{#each tax_no_array}}
                    <a href="http://togogenome.org/organism/{{tax_no}}" target="_top">{{tax_no}}</a>{{#unless is_last_data}},&nbsp;{{/unless}}
                  {{/each}}
                {{/if}}
              </td>
              <td class='span3'>{{isolation}}</td>
              <td class='span2'>
                {{#each env_link_array}}
                  <a href="http://togogenome.org/environment/{{meo_id}}" target="_top">{{meo_label}}</a>{{#unless is_last_data}},&nbsp;{{/unless}}
                {{/each}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div>
        No data
      <div>
    {{/if}}
  </body>
</html>

