<!DOCTYPE html>

<html>
  <head>
    <title>Pathogen Info</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
    {{download_csv}}
    {{download_json}}
  </head>

  <body>
    {{#if pathogen_list}}
      <table class='table'>
        <thead>
          <tr>
            <th class='span4'>Organism name</th>
            <th class='span4'>Disease name</th>
            <th class='span2'>Infectious type</th>
            <th class='span2'>Strain type</th>
          </tr>
        </thead>
        <tbody>
          {{#each pathogen_list}}
            <tr>
              <td><a href="{{tax_link}}" target="_top">{{bacterialName}}</a></td>
              <td>{{diseaseNameSet}}</td>
              <td>{{infectiousType}}</td>
              <td>{{strainType}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div>
        No data
      </div>
    {{/if}}
  </body>
</html>

