<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{css_uri}}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    <h1>{{title}}</h1>

    {{#each transcripts}}
      <table class='table table-bordered'>
        <tbody>
          <tr><th>Begin Position</th><td>{{begin_position}}</td></tr>
          <tr><th>End Position</th><td>{{end_position}}</td></tr>
        </tbody>
      </table>
    {{/each}}
  </body>
</html>
