<!DOCTYPE html>

<html>
  <head>
    <title>Gene View</title>
    <link rel="stylesheet" href="{{css_uri}}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    {{#each gene}}
    <ul>
      <li>Taxonomy: {{ncbi_taxid}}</li>
      <li>Organism: {{organism}}</li>
      <li>Sequence: {{seq_label}}</li>
      <li>LOCUS tag: {{locus_tag}}</li>
      <li>Gene symbol: {{gene_symbol}}</li>
      <li>Gene type: {{gene_type_label}}</li>
      <li>Position: {{insdc_location}}</li>
      <li>Length: {{gene_length}}
    </ul>
    {{{svg}}}
    {{/each}}
  </body>
</html>

