<!DOCTYPE html>

<html>
  <head>
    <title>Taxonomy</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <th>root</th>
          <th>step</th>
          <th>tax_id</th>
          <th>tax_link</th>
          <th>tax_label</th>
          <th>rank</th>
      </thead>

      <tbody>
        {{#each taxonomy}}
          <tr>
            <!--//
            <td class='first-column'><a href="{{gene}}" target='_parent'>{{gene_id}}</a></td>
            -->
            <td>{{root}}</td>
            <td>{{step}}</td>
            <td>{{tax_id}}</td>
            <td>{{tax_link}}</td>
            <td>{{tax_label}}</td>
            <td>{{rank}}</td>
            <!--//
            <td><a href="{{valiationid}}" target='_parent'>{{valiation_id}}</a></td>
            -->
          </tr>
        {{/each}}
      </tbody>
    </table>
  </body>

</html>
