<!DOCTYPE html>

<html>
  <head>
    <title>Protein Attributes</title>
    <link rel="stylesheet" href="{{css_uri}}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    {{#each attributes}}
      <table class='table table-bordered'>
        <tbody>
          {{#if sequence_length}}
            <tr><th>Sequence length</th><td>{{sequence_length}}</td></tr>
          {{/if}}

          {{#if sequence_status}}
            <tr><th>Sequence status</th><td>{{sequence_status}}</td></tr>
          {{/if}}

          {{#if sequence_processing}}
            <tr><th>Sequence processing</th><td>{{sequence_processing}}</td></tr>
          {{/if}}

          {{#if existence_label}}
            <tr><th>Protein existence</th><td>{{existence_label}}</td></tr>
          {{/if}}
        </tbody>
      </table>
    {{/each}}
  </body>
</html>
