<!DOCTYPE html>

<html>
  <head>
    <title>Protein Ontologies</title>
    <link rel="stylesheet" href="{{css_uri}}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
    <style type="text/css">
      caption {
        font-size: x-large;
        margin: 10px 0;
      }
    </style>
  </head>

  <body>
    {{#if keywords}}
      <table class='table'>
        <caption>Keywords</caption>
        <tbody>
          {{#if keywords.biological_process}}
            <tr>
              <th>Biological process</th>
              <td>
                <ul>
                  {{#each keywords.biological_process}}
                    <li><a href='{{concept}}'>{{names}}</a></li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          {{/if}}

          {{#if keywords.cellular_component}}
            <tr>
              <th>Cellular component</th>
              <td>
                <ul>
                  {{#each keywords.cellular_component}}
                    <li><a href='{{concept}}'>{{names}}</a></li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          {{/if}}

          {{#if keywords.domain}}
            <tr>
              <th>Domain</th>
              <td>
                <ul>
                  {{#each keywords.domain}}
                    <li><a href='{{concept}}'>{{names}}</a></li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          {{/if}}

          {{#if keywords.ligand}}
            <tr>
              <th>Ligand</th>
              <td>
                <ul>
                  {{#each keywords.ligand}}
                    <li><a href='{{concept}}'>{{names}}</a></li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          {{/if}}

          {{#if keywords.molecular_function}}
            <tr>
              <th>Molecular function</th>
              <td>
                <ul>
                  {{#each keywords.molecular_function}}
                    <li><a href='{{concept}}'>{{names}}</a></li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          {{/if}}

          {{#if keywords.technical_term}}
            <tr>
              <th>Technical term</th>
              <td>
                <ul>
                  {{#each keywords.technical_term}}
                    <li><a href='{{concept}}'>{{names}}</a></li>
                  {{/each}}
                </ul>
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    {{/if}}

    {{#if gene_ontlogies}}
      <table class='table'>
        <caption>Gene Ontologies</caption>
        <tbody>
          {{#if gene_ontlogies.biological_process}}
            <tr>
              <th>Biological process</th>
              <td>
                {{#each gene_ontlogies.biological_process}}
                  <ul>
                    <li>{{this.name}}</li>
                  </ul>
                {{/each}}
              </td>
            </tr>
          {{/if}}

          {{#if gene_ontlogies.cellular_component}}
            <tr>
              <th>Cellular component</th>
              <td>
                {{#each gene_ontlogies.cellular_component}}
                  <ul>
                    <li>{{this.name}}</li>
                  </ul>
                {{/each}}
              </td>
            </tr>
          {{/if}}

          {{#if gene_ontlogies.molecular_function}}
            <tr>
              <th>Molecular function</th>
              <td>
                {{#each gene_ontlogies.molecular_function}}
                  <ul>
                    <li>{{this.name}}</li>
                  </ul>
                {{/each}}
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    {{/if}}
  </body>
</html>

