<!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    {{#if sequence_annotations}}
      <h1>{{title}}</h1>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th></th>
            <th>Feature key</th>
            <th>Position(s)</th>
            <th>Length</th>
            <th>Description</th>
            <th>Feature identifier</th>
          </tr>
        </thead>
        <tbody>
          {{#if sequence_annotations.molecule_processing}}
            <tr><th colspan='6'>Molecule processing</th></tr>
            {{#each sequence_annotations.molecule_processing}}
              <tr>
                <td></td>
                <td>{{label}}</td>
                <td>{{position}}</td>
                <td>{{location_length}}</td>
                <td>{{comment}}</td>
                <td>{{feature_identifier}}</td>
              </tr>
            {{/each}}
          {{/if}}

          {{#if sequence_annotations.region}}
            <tr><th colspan='6'>Regions</th></tr>
            {{#each sequence_annotations.region}}
              <tr>
                <td></td>
                <td>{{label}}</td>
                <td>{{position}}</td>
                <td>{{location_length}}</td>
                <td>{{comment}}</td>
                <td>{{feature_identifier}}</td>
              </tr>
            {{/each}}
          {{/if}}

          {{#if sequence_annotations.site}}
            <tr><th colspan='6'>Sites</th></tr>
            {{#each sequence_annotations.site}}
              <tr>
                <td></td>
                <td>{{label}}</td>
                <td>{{position}}</td>
                <td>{{location_length}}</td>
                <td>{{comment}}</td>
                <td>{{feature_identifier}}</td>
              </tr>
            {{/each}}
          {{/if}}

          {{#if sequence_annotations.experimental_information}}
            <tr><th colspan='6'>Experimental info</th></tr>
            {{#each sequence_annotations.experimental_information}}
              <tr>
                <td></td>
                <td>{{label}}</td>
                <td>{{position}}</td>
                <td>{{location_length}}</td>
                <td>{{comment}}</td>
                <td>{{feature_identifier}}</td>
              </tr>
            {{/each}}
          {{/if}}
        </tbody>
      </table>
    {{/if}}
  </body>
</html>

