<!DOCTYPE html>

<html>
  <head>
    <title>Protein Sequence Annotations</title>
    <link rel="stylesheet" href="{{css_uri}}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
    <script type="text/javascript">
      function render_sequence_chart(id,begin, end, seqlen) {
        // If one of parameters is null, do nothing
        if (begin == null || end == null || seqlen == null) {
          return ;
        }

        var length = end - begin + 1;
        if (length == seqlen) {
          // bar of graph is equal to length of sequence
          $('<div>').appendTo('#'+ id).addClass('on').css('width','100%');
        } else if (begin == 1) {
          // bar of graph is from start to somewhere(except end)
          var on = Math.round(length / seqlen * 100);
          if (on == 0) { //even if length is too short, it's displayed.
            on = 1;
          }
          var off = 100 - on;
          $('<div>').appendTo('#'+ id).addClass('on').css('float','left').css('width', on + '%');
          $('<div>').appendTo('#'+ id).addClass('off').css('float','right').css('width', off+ '%');
        } else {
          if (end == seqlen) {
            // bar of graph is from somewhere(except start) to end
            var on = Math.round(length / seqlen * 100);
            if (on == 0) {//even if length is too short, it's displayed.
              on = 1;
            }
            var off = 100 - on;
            $('<div>').appendTo('#'+ id).addClass('off').css('float','left').css('width', off + '%');
            $('<div>').appendTo('#'+ id).addClass('on').css('float','right').css('width', on + '%');
          } else {
            // bar of graph is on the way sequence
            var off1 = Math.round(begin / seqlen * 100);
            var on = Math.round(length / seqlen * 100);
            if (on == 0) {
              on = 1;
            }
            var off2 = 100 - off1 - on;
            $('<div>').appendTo('#'+ id ).addClass('off').css('float','left').css('width', off1 + '%');
            $('<div>').appendTo('#'+ id).addClass('on').css('float','left').css('width', on + '%');
            $('<div>').appendTo('#'+ id).addClass('off').css('float','right').css('width', off2 + '%');
          }
        }
      }
    </script>
    <style type="text/css">
      caption {
        font-size: x-large;
        margin: 10px 0;
      }
      .graphicalview {
        width: 135px;
      }
      div.on {
        background-color:#F89406;
        height:15px;
      }
      div.off {
        background: white url(/assets/protein_sequence_annotation/line.png) repeat-x center;
        height:15px;
      }
    </style>
  </head>

  <body>
    {{#if sequence_annotations}}
      {{#each sequence_annotations}}
        <table class='table table-bordered'>
          <caption>{{this.first.parent_label}}</caption>
          <thead>
            <tr>
              <th>Feature key</th>
              <th>Position(s)</th>
              <th>Length</th>
              <th>Description</th>
              <th>Feature identifier</th>
              <th>Graphical view</th>
            </tr>
          </thead>
          <tbody>
            {{#each this}}
              <tr>
                <td>{{label}}</td>
                <td>{{position}}</td>
                <td>{{location_length}}</td>
                <td>{{substitution_sequence}}{{comment}}</td>
                <td>{{feature_identifier}}</td>
                <td id="{{row_id}}" class="graphicalview valign-middle" >
                  <script>render_sequence_chart('{{row_id}}',{{begin_location}},{{end_location}},{{seq_length}});</script>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/each}}
    {{/if}}
  </body>
</html>

