<!DOCTYPE html>

<html>
  <head>
    <title>Organism Culture Collections</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
    {{#if strain_list}}
      <table class='table'>
        <thead>
          <tr>
            <th>Strain No.</th>
            <th>Organism name</th>
            <th>Isolation</th>
            <th>Environmental link</th>
            <th>Type strain</th>
            <th>Applications</th>
            <th>Other collections</th>
          </tr>
        </thead>
        <tbody>
          {{#each strain_list}}
            <tr>
              <td class='span1'><a href='{{strain_id}}' target='_blank'>{{strain_number}}</a></td>
              <td class='span2'>{{organism_name}}</td>
              <td class='span1'>{{isolation}}</td>
              <td class='span2'>
                {{#if env_link_array}}
                  {{#each env_link_array}}
                    <a href="http://togogenome.org/environment/{{meo_id}}" target="_top">{{meo_label}}</a>{{#unless is_last_data}},&nbsp;{{/unless}}
                  {{/each}}
                {{/if}}
              </td>
              <td class='span1'>{{type_strain_label}}</td>
              <td class='span2'>{{application}}</td>
              <td class='span3'>{{other_collections}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div>
        No data
      </div>
    {{/if}}
  </body>
</html>

