<!DOCTYPE html>

<html>
  <head>
    <title>Genome Projects</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

 
  <body>
    <h1>Assembly Records</h1>
    <h2>Summary</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Assembly Level</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    {{#each projects_sum}}
      <tr>
        <td>{{level}}</td>
        <td>{{number}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

    <h2>List of Projects</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Assembly ID</th>
      <th>Organism Name</th>
      <th>Taxonomy ID</th>
      <th>BioProject ID</th>
      <th>BioSample ID</th>
      <th>Assembly Level</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each projects}}
      <tr>
        <td><a href="{{link}}">{{id}}</td>
        <td><a href="{{link}}">{{organism_name}}</a></td>
        <td><a href="{{taxon}}">{{taxid}}</a></td>
        <td><a href="http://identifiers.org/bioproject/{{bioproject_accession}}">{{bioproject_accession}}</td>
        <td><a href="http://identifiers.org/biosample/{{biosample_accession}}">{{biosample_accession}}</td>
        <td>{{level}}</td>
        <td>{{release_date}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

  </body>
</html>
