<!DOCTYPE html>

<html>
  <head>
    <title>Protein References</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
    {{download_csv}}
    {{download_json}}
  </head>

  <body>
    {{#if references}}
      <table class='table'>
        <tbody>
          {{#each references}}
            <tr>
              <td>
                <dl>
                  <dt>{{title}}</dt>
                  <dd>{{authors}}</dd>
                  <dd>{{name}} {{volume}} {{pages}} ({{date}}) {{same}}</dd>
                </dl>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </body>
</html>

