<!DOCTYPE html>

<html>
  <head>
    <title>Protein Sequence</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
    {{download_csv}}
    {{download_json}}
  </head>

  <body>
    {{#if sequences}}
      {{#each sequences}}
        <table class='table'>
          <thead>
            <tr>
              <th>Sequence</th>
              <th>Length</th>
              <th>Mass (Da)</th>
              <th>Status</th>
              {{#if sequence_processing}}<th>Processing</th>{{/if}}
              {{#if existence_label}}<th>Existence</th>{{/if}}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{up_id}}</td>
              <td>{{sequence_length}}</td>
              <td>{{mass}}</td>
              <td>{{sequence_status}}</td>
              {{#if sequence_processing}}<td>{{sequence_processing}}</td>{{/if}}
              {{#if existence_label}}<td>{{existence_label}}</td>{{/if}}
            </tr>
          </tbody>
        </table>
        <div>
          Last modified: {{modified}}, Version {{version}} <br />
          Checksum: {{checksum}}
          <pre>{{aminoacid}}</pre>
        </div>
      {{/each}}
    {{/if}}
  </body>
</html>

